<app-header></app-header>



<div class="container-fluid" style="padding-top: 2%;">
 
  <div class="row">
    <div class="col-md-2 offset-md-2">
      <div class="card" (click)="openPopup()">
        <div class="card-header"> 
          <h6 style="text-align: center;">Eventos</h6>
        </div>
        <div class="card-body">
          <h1 style="text-align: center;">4</h1>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card" (click)="openTicketTableModal()">
        <div class="card-header">
          <h6 style="text-align: center;">Boletos Activos</h6>
        </div>
        <div class="card-body">
          <h1 style="text-align: center;">54</h1>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card" (click)="openPopup()">
        <div class="card-header">
          <h6 style="text-align: center;">Boletos Canjeados</h6>
        </div>
        <div class="card-body">
          <h1 style="text-align: center;">13</h1>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card" (click)="openPopup()">
        <div class="card-header">
          <h6 style="text-align: center;">Boletos Cancelados</h6>
        </div>
        <div class="card-body">
          <h1 style="text-align: center;">13</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-8 offset-md-2" style="padding-top: 3%;">
        <div class="card">
          <div class="card-header">
            <h6 style="text-align: center;">Generate QR</h6>
          </div>

          <div class="card-body">

            <form [formGroup]="qrCodeFormGroup" (ngSubmit)="onSubmit(qrCodeFormGroup)">
              <div class="form-group">
                <label for="">Nombre del Evento</label>
                <br>
                <input id="evento" formControlName="evento" type="text" class="form-control">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
              <br>
              <div class="form-group">
                <label for="">Numero de Boletos</label>
                <br>
                <input id="numeroDeBoletos" formControlName="numeroDeBoletos" type="text" class="form-control">
              </div>
              <br>
              <button class="btn btn-primary" type="submit">Crear Codigos Qr</button>
            </form>


          </div>

         
        </div>
  </div>
  </div>

</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eventos</h4>
        
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">Evento 1 <span><button style="margin-left: 60%;" class="btn btn-primary" (click)="navigateToComponent()">Ver Evento</button></span></li>
          <li class="list-group-item">Evento 2 <span><button style="margin-left: 60%;" class="btn btn-primary" (click)="navigateToComponent()">Ver Evento</button></span></li>
          <li class="list-group-item">Evento 3 <span><button style="margin-left: 60%;" class="btn btn-primary" (click)="navigateToComponent()">Ver Evento</button></span></li>
          
        </ul>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayTicketTable}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lista de Boletos</h4>
      </div>
      <div class="modal-body">
        
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" 
                >
          Add
        </button>
        <button type="button" class="btn btn-danger" 
                (click)="closeTicketTableModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayConfirmationOrError}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        
        <h6 style="text-align: center;">Codigos QR Generados Exitosamente!</h6>
       
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-danger" 
                (click)="closeConfirmationOrErrorModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center" >
    <span class="sr-only" id="loading" [ngStyle]="{'display':displaySpinner}"></span>
  
</div>

<style>
  #loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>