<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img (click)="navigateHome()" class="img-fluid" src="https://static.thenounproject.com/png/2002633-200.png" alt="logoImg" srcset="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink="/bodyComponent" class="nav-link" href="#">Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eventos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="goToValidarQR()">Validar QR</a>
        </li>
        
      </ul>
    </div>
  </nav>
  

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayQrCodeReader}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          
          <h6 style="text-align: center;">Validar Codigo QR</h6>
          <zxing-scanner></zxing-scanner>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" 
          (click)="validateQR()">Validar</button>
          <button type="button" class="btn btn-danger" 
          (click)="closeQrCodeReader()"> Close</button>
        </div>
      </div>
    </div>
  </div>